extends ./base.jade

block content
	- var storm_direction = weather.now.nearest_storm.bearing;
	- var sd_transform = storm_direction - 45; // The fa-location-arrow is already tilted 45 degrees
	
	h2 Forecast
