doctype html
block vars
html
head
	meta(name='viewport' content='width=device-width, initial-scale=1')

	title #{title}

	link(rel='stylesheet', href='#{theme_dir}/#{theme}')
	link(rel='stylesheet', href='/css/font-awesome.min.css')
	link(rel='stylesheet', href='/css/weather-icons.min.css')

	script(type='text/javascript', src='/js/jquery-1.11.2.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
