doctype html
block vars
html
head
	title #{title}

	link(rel='stylesheet', href='#{theme_dir}/#{theme}')
	link(rel='stylesheet', href='/css/font-awesome.min.css')

	script(type='text/javascript', src='/js/jquery-1.11.2.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
