extends ./base.jade

block content
	h3 Settings
	hr

	div.well.row
		div.col-sm-12
			h4 Look and feel
		div.col-sm-4
			form.form-inline
				div.form-group
					div.dropdown#dd-theme
						button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='true')#ddm-theme Theme
						ul.dropdown-menu(aria-labeledby='ddm-theme')
							each t in theme_list
								li(class=(t === '#{theme}' ? 'active' : ''))
									a(href='javascript:update_setting("theme", "' + t + '");')= t
		div.col-sm-2
			div.checkbox
				label
					input(type='checkbox')#navbar-color
					span  Alternate navbar color?
	div.well.row
		div.col-sm-12
			h4 API Keys
		div.col-sm-12
			table#api-key-table.table.table-bordered.table-striped
				thead
					tr
						td Service name
						td API Key
						td 
				tbody
					tr
						td
							a(href="https://developer.forecast.io/") forecast.io
						td
							input(type="text" placeholder="API key" value=((api_keys !== undefined) ? api_keys.forecast_io : "")).form-control
						td
							button.btn.btn-default.btn-block.key-update-btn(data-update-key='forecast_io') Change

	script.
		$('#dd-theme li.active > a').append(' (current)');
		$('#navbar-color').prop('checked', #{navbar_inversed});

		function update_setting(key, value) {
			$.ajax({
				url: '/settings/' + key + '/' + value,
				method: 'POST'
			});

			location.reload(true);
		}
		
		$('.key-update-btn').click(function () {
			$(this).data('update-key');
		});

		$('#navbar-color').change(function () {
			update_setting('navbar_inversed', !#{navbar_inversed});
		});
